<div class="card jh-card">
  <h2 id="page-heading" data-cy="ServiceHospitalierHeading">
    <span appTranslate="intershipManagementApp.serviceHospitalier.home.title">Service Hospitaliers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="intershipManagementApp.serviceHospitalier.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-service-hospitalier"
        [routerLink]="['/gestion/service-hospitalier/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="intershipManagementApp.serviceHospitalier.home.createLabel"> Create a new Service Hospitalier </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="serviceHospitaliers?.length === 0">
    <span appTranslate="intershipManagementApp.serviceHospitalier.home.notFound">No Service Hospitaliers found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="serviceHospitaliers && serviceHospitaliers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" appSortBy="id">
            <div class="d-flex">
              <span appTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="nom">
            <div class="d-flex">
              <span appTranslate="intershipManagementApp.serviceHospitalier.nom">Nom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="emplacement">
            <div class="d-flex">
              <span appTranslate="intershipManagementApp.serviceHospitalier.emplacement">Emplacement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="typeService.id">
            <div class="d-flex">
              <span appTranslate="intershipManagementApp.serviceHospitalier.typeService">Type Service</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="chefService.id">
            <div class="d-flex">
              <span appTranslate="intershipManagementApp.serviceHospitalier.chefService">Chef Service</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" appSortBy="hopital.id">
            <div class="d-flex">
              <span appTranslate="intershipManagementApp.serviceHospitalier.hopital">Hopital</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serviceHospitalier of serviceHospitaliers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/gestion/service-hospitalier', serviceHospitalier.id, 'view']">{{ serviceHospitalier.id }}</a>
          </td>
          <td>{{ serviceHospitalier.nom }}</td>
          <td>{{ serviceHospitalier.emplacement }}</td>
          <td>
            <div *ngIf="serviceHospitalier.typeService">
              <a [routerLink]="['/gestion/type-service', serviceHospitalier.typeService.id, 'view']">{{
                serviceHospitalier.typeService.nom
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="serviceHospitalier.chefService">
              <a [routerLink]="['/gestion/chef-service', serviceHospitalier.chefService.id, 'view']"
                >{{ serviceHospitalier.chefService.nom }} {{ serviceHospitalier.chefService.prenom }}</a
              >
            </div>
          </td>
          <td>
            <div *ngIf="serviceHospitalier.hopital">
              <a [routerLink]="['/gestion/hopital', serviceHospitalier.hopital.id, 'view']">{{ serviceHospitalier.hopital.nom }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/gestion/service-hospitalier', serviceHospitalier.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/gestion/service-hospitalier', serviceHospitalier.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(serviceHospitalier)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="serviceHospitaliers && serviceHospitaliers.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
