<div class="card jh-card">
  <div *ngIf="typeService">
    <h2 data-cy="typeServiceDetailsHeading"><span appTranslate="intershipManagementApp.typeService.detail.title">Type Service</span></h2>

    <hr />

    <app-alert-error></app-alert-error>

    <app-alert></app-alert>

    <dl class="row-md jh-entity-details">
      <dt><span appTranslate="global.field.id">ID</span></dt>
      <dd>
        <span>{{ typeService.id }}</span>
      </dd>
      <dt><span appTranslate="intershipManagementApp.typeService.nom">Nom</span></dt>
      <dd>
        <span>{{ typeService.nom }}</span>
      </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span appTranslate="entity.action.back">Back</span>
    </button>

    <button type="button" [routerLink]="['/gestion/type-service', typeService.id, 'edit']" class="btn btn-primary">
      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span appTranslate="entity.action.edit">Edit</span>
    </button>
  </div>
</div>
